<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qht2005.www.dao.StudentMapper">
    <!--学生数据库结果映射-->
    <resultMap id="studentResultMap" type="cn.qht2005.www.pojo.people.Student">
        <result column="student_id" property="studentId"/>
        <result column="student_name" property="name"/>
        <result column="student_age" property="age"/>
        <result column="student_college_id" property="collegeId"/>
        <result column="student_class_id" property="classId"/>
        <result column="student_sex" property = "sex"/>
        <result column="student_phone_number" property="phoneNumber"/>
        <result column="student_login_password" property="passWord"/>
        <result column="student_address" property="address"/>
        <result column="student_photograph" property="photograph"/>
    </resultMap>
    <!--添加学生对象-->
    <insert id="insertStudent">
        insert into t_student (student_id, student_name, student_class_id, student_college_id, student_sex)
        values (#{studentId}, #{name}, #{classId}, #{collegeId}, #{sex})
    </insert>
    <!--动态修改数据-->
    <update id="modifyByDynamic">
        update t_student
        <set>
            <if test="student.name != null and student.name != ''">student_name = #{student.name},</if>
            <if test="student.passWord != null and student.passWord != ''">student_login_password = #{student.passWord},</if>
            <if test="student.classId != null and student.classId != ''">student_class_id = #{student.classId},</if>
            <if test="student.sex != null">student_sex = #{student.sex},</if>
            <if test="student.age != null">student_age = #{student.age},</if>
            <if test="student.phoneNumber != null and student.phoneNumber != ''">student_phone_number = #{student.phoneNumber},</if>
            <if test="student.address != null and student.address != ''">student_address = #{student.address},</if>
            <if test="student.photograph != null and student.address != ''">student_photograph = #{student.photograph},</if>
            </set>
        where student_id = #{studentId}
    </update>
    <!--批量删除学生-->
    <delete id="deleteByStudents">
        delete from t_student
        <where>
            <foreach collection="list" item="student" separator="or" open="(" close=")">
                student_id = #{student.studentId}
            </foreach>
        </where>
    </delete>
    <!--根据学生对象来动态查询学生信息-->
    <select id="selectDynamic" resultMap="studentResultMap">
        select * from t_student
            <where >
                <if test="name != null and name != ''">student_name = #{name}</if>
                <if test="studentId != null and studentId != ''">student_id = #{studentId}</if>
                <if test="sex != null">and student_sex = #{sex}</if>
                <if test="collegeId != null and collegeId != ''">and student_college_id = #{collegeId}</if>
                <if test="classId != null and classId != ''">and student_class_id = #{classId}</if>
            </where>
    </select>


</mapper>