<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxnzd.qht.knowledgeinmotion.dao.StudentMapper">
    <!--学生表结果映射-->
    <resultMap id="studentResultMap" type="com.gxnzd.qht.knowledgeinmotion.pojo.Student">
        <result column="student_id" property="studentId"/>
        <result column="student_login_password" property="passWord"/>
        <result column="student_name" property="name"/>
        <result column="student_college_id" property="collegeId"/>
        <result column="student_class_id" property="classId"/>
        <result column="student_age" property="age"/>
        <result column="student_phone_number" property="phoneNumber"/>
        <result column="student_sex" property="sex"/>
        <result column="student_address" property="address"/>
        <result column="student_photograph" property="photograph"/>
    </resultMap>

</mapper>