<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxnzd.qht.dao.TeacherMapper">
    <!--教师数据库结果映射-->
    <resultMap id="teacherResultMap" type="com.gxnzd.qht.pojo.Teacher">
        <result column="teacher_id" property="teacherId"/>
        <result column="teacher_name" property="name"/>
        <result column="teacher_age" property="age"/>
        <result column="teacher_college_id" property="collegeId"/>
        <result column="teacher_mange_class_id" property="mangeClassId"/>
        <result column="teacher_sex" property = "sex"/>
        <result column="teacher_position" property = "position"/>
        <result column="teacher_phone_number" property="phoneNumber"/>
        <result column="teacher_login_password" property="passWord"/>
        <result column="teacher_photograph" property="photograph"/>

    </resultMap>

</mapper>